.pattern1 {
  border: 1px dotted gray;
  padding: 20px;
  margin: 20px;
}

.pattern2 {
  border: 1px dotted gray;
  padding: 20px;
  margin: 20px;
}

.pattern3 {
  border: 1px dotted gray;
  padding: 20px;
  margin: 20px;
}




